<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style text-end text-md-start justify-content-end justify-content-md-start">
            <li class="breadcrumb-item">
              <!-- <h4 class="page-title">{{pageTitle}}</h4> -->
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a routerLink="/admin/dashboard/main">
                <i class="fas fa-home"></i> </a>
            </li>
            <li class="breadcrumb-item bcrumb-2">
              <a href="#" onClick="return false;">ডিপোজিটর ইনস্টলমেন্ট </a>
            </li>
            <li class="breadcrumb-item active">{{destination}}</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="body">
            <form class="m-4" [formGroup]="DepositorInstallmentForm" (ngSubmit)="onSubmit()">
              <div class="row">
                <div *ngIf="this.branchId <= 0" class="col-xl-3 col-lg-3 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Warehouse</mat-label>
                    <mat-select formControlName="warehouseId" required
                      (selectionChange)="this.getSelectedDepositorList()">
                      <mat-option value="0">--Select--</mat-option>
                      <mat-option *ngFor="let dropdown of warehouseList" [value]="dropdown.value">
                        {{dropdown.text}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="DepositorInstallmentForm.get('warehouseId').hasError('required')">
                      Warehouse is Required!
                    </mat-error>
                  </mat-form-field>
                </div>



                <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label> তারিখ </mat-label>
                    <input matInput formControlName="installmentDate" [readonly]="true">
                  </mat-form-field>
                </div>

                <hr>
                <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>ডিপোজিটর নাম</mat-label>
                    <mat-select formControlName="depositorId" required
                      (selectionChange)="this.SpGetLastInstallmentMonthAndYear()">
                      <mat-option value="0">--Select--</mat-option>
                      <mat-option *ngFor="let dropdown of depositorList" [value]="dropdown.value">
                        {{dropdown.text}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="DepositorInstallmentForm.get('depositorId').hasError('required')">
                      ডিপোজিটর নাম is Required!
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label style="color: black; font-weight: bold;">সর্বশেষ পরিশোধের মাস</mat-label>
                    <input matInput [value]="lastInstallmentMonth" readonly
                      style="color: #1976d2; font-weight: bold; font-size: 16px;">
                  </mat-form-field>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label style="color: black; font-weight: bold;">সর্বশেষ পরিশোধের বছর</mat-label>
                    <input matInput [value]="lastInstallmentYear" readonly
                      style="color: #2e7d32; font-weight: bold; font-size: 16px;">
                  </mat-form-field>
                </div>
                <hr>
                
                <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label> কিস্তির মাস</mat-label>
                    <mat-select formControlName="month" required (selectionChange)="validateInstallmentMonthYear()">
                      <mat-option *ngFor="let m of months" [value]="m.value">
                        {{ m.name }}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="DepositorInstallmentForm.get('month').hasError('required')">
                      কিস্তির মাস is Required!
                    </mat-error>
                    <mat-error *ngIf="monthError">
                      {{ monthError }}
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>কিস্তির বছর</mat-label>
                    <mat-select formControlName="year" (selectionChange)="validateInstallmentMonthYear()">
                      <mat-option *ngFor="let y of years" [value]="y">
                        {{ y }}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="yearError">
                      {{ yearError }}
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-3 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>ভাউচার ছবি </mat-label>
                    <ngx-mat-file-input formControlName="photo" (change)="onFileChanged($event)"
                      accept=".jpg,.jpeg,.png,.gif">
                    </ngx-mat-file-input>
                    <mat-icon matSuffix>attachment</mat-icon>
                    <mat-hint>Allowed formats: JPG, PNG, GIF</mat-hint>
                  </mat-form-field>
                </div>
                <hr>
                <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>কিস্তির পরিমাণ</mat-label>
                    <input matInput formControlName="installmentAmount" required type="number">
                    <mat-error *ngIf="DepositorInstallmentForm.get('installmentAmount').hasError('required')">
                      কিস্তির পরিমাণ is Required!
                    </mat-error>
                  </mat-form-field>
                </div>

              </div>



              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <button class="btn-space" [disabled]="!DepositorInstallmentForm.valid " mat-raised-button
                    color="primary">{{buttonText}}</button>
                  <button type="button" mat-button routerLink="/capital-six/depositorinstallment-list">Cancel</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>