<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style text-end text-md-start justify-content-end justify-content-md-start">
            <li class="breadcrumb-item">
              <!-- <h4 class="page-title">{{pageTitle}}</h4> -->
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a routerLink="/admin/dashboard/main">
                <i class="fas fa-home"></i> </a>
            </li>
            <li class="breadcrumb-item bcrumb-2">
              <a href="#" onClick="return false;">মজুদ পণ্যের ব্যবহার </a>
            </li>
            <li class="breadcrumb-item active">{{destination}}</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="body">
            <form class="m-4" [formGroup]="FisheriesInventoryOutForm" (ngSubmit)="onSubmit()">
              <div class="row">
                <div *ngIf="this.branchId <= 0" class="col-xl-3 col-lg-3 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Warehouse</mat-label>
                    <mat-select formControlName="warehouseId" required
                      (selectionChange)="this.getSelectedSupplierByWarehouseIdList()">
                      <mat-option value="0">--Select--</mat-option>
                      <mat-option *ngFor="let dropdown of warehouseList" [value]="dropdown.value">
                        {{dropdown.text}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="FisheriesInventoryOutForm.get('warehouseId').hasError('required')">
                      Warehouse is Required!
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label> তারিখ </mat-label>
                    <input matInput formControlName="date" [readonly]="true">
                  </mat-form-field>
                </div>
                <hr>
                <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>পুকুরের নাম</mat-label>
                    <mat-select formControlName="pondId" required>
                      <mat-option value="0">--Select--</mat-option>
                      <mat-option *ngFor="let dropdown of pondList" [value]="dropdown.value">
                        {{dropdown.text}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="FisheriesInventoryOutForm.get('pondId').hasError('required')">
                      পুকুরের নাম is Required!
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>খাদ্য/ঔষধের ধরন</mat-label>
                    <mat-select formControlName="fisheriesProductTypeId" required>
                      <mat-option value="0">--Select--</mat-option>
                      <mat-option *ngFor="let dropdown of productTypeList" [value]="dropdown.value">
                        {{dropdown.text}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="FisheriesInventoryOutForm.get('fisheriesProductTypeId').hasError('required')">
                      খাদ্য/ঔষধের ধরন is Required!
                    </mat-error>
                  </mat-form-field>
                </div>
                <hr>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>খাদ্য/ঔষধের নাম (খুঁজুন)</mat-label>
                    <input formControlName="productName" matInput type="text" [matAutocomplete]="auto2" required />
                    <mat-autocomplete #auto2="matAutocomplete">
                      <mat-option *ngFor="let upitem of filteredOptions " [value]="upitem"
                        (onSelectionChange)="onProductNameSelectionChanged(upitem)"
                        style="white-space: normal;word-break: break-word;overflow-wrap: break-word;height: auto;line-height: 20px;padding-top: 8px;padding-bottom: 8px;">
                        {{upitem.text}}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
                </div>
                <hr>
                
                <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>ব্যবহারের পরিমাণ</mat-label>
                    <input matInput formControlName="useQty" required>
                    <mat-error *ngIf="FisheriesInventoryOutForm.get('useQty').hasError('required')">
                      ব্যবহারের পরিমাণ is Required!
                    </mat-error>
                  </mat-form-field>
                </div>

              </div>



              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <button class="btn-space" [disabled]="!FisheriesInventoryOutForm.valid " mat-raised-button
                    color="primary">{{buttonText}}</button>
                  <button type="button" mat-button
                    routerLink="/stock-consumption/fisheriesinventoryout-list">Cancel</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>