<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style text-end text-md-start justify-content-end justify-content-md-start">
            <li class="breadcrumb-item">
              <!-- <h4 class="page-title">{{pageTitle}}</h4> -->
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a routerLink="/admin/dashboard/main">
                <i class="fas fa-home"></i> </a>
            </li>
            <li class="breadcrumb-item bcrumb-2">
              <a href="#" onClick="return false;">ডিপোজিটর ইনভেস্টমেন্ট </a>
            </li>
            <li class="breadcrumb-item active">{{destination}}</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="body">
            <form class="m-4" [formGroup]="DepositorInvestmentForm" (ngSubmit)="onSubmit()">
              <div class="row">
                <div *ngIf="this.branchId <= 0" class="col-xl-3 col-lg-3 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Warehouse</mat-label>
                    <mat-select formControlName="warehouseId" required (selectionChange)="this.onWarehouseChange()">
                      <mat-option value="0">--Select--</mat-option>
                      <mat-option *ngFor="let dropdown of warehouseList" [value]="dropdown.value">
                        {{dropdown.text}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="DepositorInvestmentForm.get('warehouseId').hasError('required')">
                      Warehouse is Required!
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label> তারিখ </mat-label>
                    <input matInput formControlName="investmenDate" [readonly]="true">
                  </mat-form-field>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label style="color: black; font-weight: bold;">বর্তমান ব্যালেন্স / হাতে নগদ </mat-label>
                    <input matInput [value]="cashInHand" readonly
                      style="color: #2e7d32; font-weight: bold; font-size: 16px;">
                  </mat-form-field>
                </div>

                <hr>
                <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>জিম্মাদার ডিপোজিটর নাম</mat-label>
                    <mat-select formControlName="depositorId" required>
                      <mat-option value="0">--Select--</mat-option>
                      <mat-option *ngFor="let dropdown of depositorList" [value]="dropdown.value">
                        {{dropdown.text}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="DepositorInvestmentForm.get('depositorId').hasError('required')">
                      ডিপোজিটর নাম is Required!
                    </mat-error>
                  </mat-form-field>
                </div>
                <hr>
                <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>ব্যাবসায়ীর নাম</mat-label>
                    <input matInput formControlName="businessOperatorName" required>
                    <mat-error *ngIf="DepositorInvestmentForm.get('businessOperatorName').hasError('required')">
                      ব্যাবসায়ীর নাম is Required!
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>মোবাইল নং</mat-label>
                    <input matInput formControlName="mobile" required>
                    <mat-error *ngIf="DepositorInvestmentForm.get('mobile').hasError('required')">
                      মোবাইল নং is Required!
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>ঠিকানা</mat-label>
                    <input matInput formControlName="address">
                  </mat-form-field>
                </div>

                <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>মন্তব্য</mat-label>
                    <input matInput formControlName="remarks">
                  </mat-form-field>
                </div>

                <hr>
                <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>ইনভেস্টমেন্ট এমাউন্ট</mat-label>

                    <input matInput formControlName="investmenAmount" type="number" (input)="validateInvestmenAmount()">

                    <mat-error *ngIf="DepositorInvestmentForm.get('investmenAmount')?.hasError('required')">
                      ইনভেস্টমেন্ট এমাউন্ট is Required!
                    </mat-error>
                  </mat-form-field>

                  <!-- সাথে সাথে দেখাবে -->
                  <div *ngIf="amountError" style="color:#f44336;font-size:12px;margin-top:-12px;">
                    বর্তমান ব্যালেন্স / হাতে নগদ ({{ cashInHand }}) এর বেশি ইনভেস্টমেন্ট করা যাবে না।
                  </div>
                </div>




              </div>



              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <button class="btn-space" [disabled]="!DepositorInvestmentForm.valid " mat-raised-button
                    color="primary">{{buttonText}}</button>
                  <button type="button" mat-button routerLink="/capital-six/depositorinvestment-list">Cancel</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>