<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style text-end text-md-start justify-content-end justify-content-md-start">
            <li class="breadcrumb-item">
              <!-- <h4 class="page-title">Employee </h4> -->
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a routerLink="/admin/dashboard/main">
                <i class="fas fa-home"></i> </a>
            </li>
            <li class="breadcrumb-item bcrumb-2">
              <a href="#" onClick="return false;">কিস্তির বিবরণ </a>
            </li>
            <li class="breadcrumb-item active">All </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="body">
            <div class="responsive_table">
              <div class="materialTableHeader">
                <div class="row">
                  <div class="col-8">
                    <ul class="header-buttons-center ml-0" style="margin-top: 10px;">
                      <!-- <li>
                        <strong>শুরুর তারিখ:</strong>
                        <span style="color:#1976D2;font-weight:bold;">
                          {{ startDate | date:'dd-MMM-yyyy' }}
                        </span>

                        &nbsp;&nbsp;|&nbsp;&nbsp;

                        <strong>মাসিক কিস্তি:</strong>
                        <span style="color:#2E7D32;font-weight:bold;">
                          {{ monthlyInstallment | number:'1.2-2' }} টাকা
                        </span>
                      </li> -->
                    </ul>
                  </div>
                  <div class="col-4">
                    <ul class="header-buttons">
                      <li>
                        <button class="btn-space" mat-raised-button color="primary" (click)="printSingle()">
                          <mat-icon class="col-white">print</mat-icon>
                        </button>
                        <button class="btn-space" mat-raised-button color="warn" (click)="backClicked()">
                          <mat-icon class="col-white">keyboard_backspace</mat-icon> Back
                        </button>
                      </li>
                      <li>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div id="print-routine">
                <table class="table tbl-by-group db-li-s-in">
                  <thead>
                    <tr>
                      <th class="cl-mrk" style="width: 5%;">
                        <h5 style="text-align: center;"> ক্র: নং</h5>
                      </th>
                      <!-- <th *ngIf="this.role === 'Super Admin'" class="cl-mrk" style="width: 25%;">
                        <h5 style="text-align: center;"> প্রতিষ্ঠানের নাম</h5>
                      </th> -->
                      <th class="cl-mrk" style="width: 25%;">
                        <h5 style="text-align: center;">বিনিয়োগকারীর নাম</h5>
                      </th>
                      <th class="cl-mrk" style="width: 15%;">
                        <h5 style="text-align: center;">কিস্তির  মাস</h5>
                      </th>
                      <th class="cl-mrk" style="width: 15%;">
                        <h5 style="text-align: center;"> জমার তারিখ </h5>
                      </th>
                      <th class="cl-mrk" style="width: 15%;">
                        <h5 style="text-align: center;">কিস্তির পরিমাণ </h5>
                      </th>



                    </tr>
                  </thead>
                  <tbody>

                    <ng-container *ngFor="let number of depositorInstallmentDetail; let i = index">
                      <!-- <tr>
                          <td class="no-border" [attr.rowspan]="data.datas.length + 1">
                            {{ data.warehouseName }}
                          </td>
                        </tr> -->
                      <tr>
                        <td>{{ i+1}}</td>
                        <!-- <td *ngIf="this.role === 'Super Admin'" style="text-align: left;">{{ number.warehouseName}}</td> -->
                        <td style="text-align: left;">{{ number.depositorName}} - {{ number.mobile}}</td>
                        <td>{{ number.month}} - {{ number.year}}</td>
                        <td>
                          {{ number.installmentDate | date:'dd-MMM-yyyy' }}
                        </td>
                        <td style="font-weight: bold;">
                          {{ number.installmentAmount | number:'1.2-2' }}
                        </td>
                      </tr>
                    </ng-container>

                  </tbody>
                  <tfoot>
                    <tr style="font-weight: bold; background-color: #f5f5f5;">
                      <td [attr.colspan]="role === 'Super Admin' ? 4 : 4" style="text-align: right;">
                        সর্বমোট (টাকা) :
                      </td>
                      <td style="color: blue; font-weight: bold;">
                        {{ grandInstallmentAmount | number:'1.2-2' }}
                      </td>
                      

                    </tr>
                  </tfoot>
                </table>
              </div>

              <mat-paginator [length]="paging.length" [showFirstLastButtons]="masterData.paging.showFirstLastButtons"
                [pageSize]="paging.pageSize" [pageSizeOptions]="masterData.paging.pageSizeOptions"
                (page)="pageChanged($event)">
              </mat-paginator>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>