<section class="content">
    <div class="container-fluid">
      <div class="block-header">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ul class="breadcrumb breadcrumb-style ">
              <li class="breadcrumb-item">
                <h4 class="page-title">{{pageTitle}}</h4>
              </li>
              <li class="breadcrumb-item bcrumb-1">
                <a routerLink="/admin/dashboard/main">
                  <i class="fas fa-home"></i> </a>
              </li>
              <li class="breadcrumb-item bcrumb-2">
                <a href="#" onClick="return false;">Warehouse</a>
              </li>
              <li class="breadcrumb-item active">{{destination}}</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row clearfix">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
          <div class="card">
            <div class="body">
              <form class="m-4" [formGroup]="WarehouseForm" (ngSubmit)="onSubmit()">
                <div class="row">
                  <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label>Operational Sites</mat-label>
                      <input matInput formControlName="warehouseName" required>
                      <mat-error *ngIf="WarehouseForm.get('warehouseName').hasError('required')">
                        Operational Sites is Required! 
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label>Site Address </mat-label>
                      <input matInput formControlName="warehouseAddress" required>
                      <mat-error *ngIf="WarehouseForm.get('warehouseAddress').hasError('required')">
                        Site Address is Required! 
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label>Location </mat-label>
                      <input matInput formControlName="location" >
                    </mat-form-field>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label>Contact Person </mat-label>
                      <input matInput formControlName="contactPerson" >
                    </mat-form-field>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label>Mobile No</mat-label>
                      <input matInput formControlName="contactNo" >
                    </mat-form-field>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label>Cash in Hand</mat-label>
                      <input matInput formControlName="cashAmount" >
                    </mat-form-field>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label>Remarks </mat-label>
                      <input matInput formControlName="remarks" >
                    </mat-form-field>
                  </div>
                  <!-- <div class="col-xl-1 col-lg-1 col-md-12 col-sm-12 mb-2" style="text-align: left; margin-top: 10px;">
                    <mat-checkbox formControlName="isWebsite">
                      Is Website? 
                    </mat-checkbox>
                  </div> -->
                  <!-- <div class="col-xl-1 col-lg-1 col-md-12 col-sm-12 mb-2" style="text-align: left; margin-top: 10px;">
                    <mat-checkbox formControlName="isEshop">
                      Is e-Shop?? 
                    </mat-checkbox>
                  </div> -->

                  <div *ngIf="WarehouseForm.get('isWebsite')?.value || WarehouseForm.get('isEshop')?.value" class="col-xl-3 col-lg-3 col-md-3 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label>Upload Business Unit Logo</mat-label>
                      <ngx-mat-file-input (change)="onFileChanged($event)" accept=".jpg,.png,.gif"></ngx-mat-file-input>
                      <mat-icon matSuffix>attachment</mat-icon>
                    </mat-form-field>
                  </div>
                  <div *ngIf="WarehouseForm.get('isWebsite')?.value || WarehouseForm.get('isEshop')?.value" class="col-xl-3 col-lg-3 col-md-3 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label>Upload Business Unit Product Image</mat-label>
                      <ngx-mat-file-input (change)="onImageFileChanged($event)" accept=".jpg,.png,.gif"></ngx-mat-file-input>
                      <mat-icon matSuffix>attachment</mat-icon>
                    </mat-form-field>
                  </div>
                  <div *ngIf="WarehouseForm.get('isWebsite')?.value || WarehouseForm.get('isEshop')?.value" class="col-xl-3 col-lg-3 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label>Business Unit Name </mat-label>
                      <input matInput formControlName="businessUnitName" >
                    </mat-form-field>
                  </div>
                  <div *ngIf="WarehouseForm.get('isWebsite')?.value || WarehouseForm.get('isEshop')?.value" class="col-xl-3 col-lg-3 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label>Bussiness Unit Descriptions </mat-label>
                      <input matInput formControlName="bussinessUnitDescriptions" >
                    </mat-form-field>
                  </div>

                </div>
            
            
               
                <div class="row">
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <button class="btn-space" [disabled]="!WarehouseForm.valid " mat-raised-button
                      color="primary">{{buttonText}}</button>
                    <button type="button" mat-button routerLink="/basic-setup/warehouse-list">Cancel</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
